- classTablePrefix = "mdl-data-table" 
table(class="#{classTablePrefix} mdl-js-data-table #{classTablePrefix}--selectable")
  thead
    tr
      th(class="#{classTablePrefix}--non-numeric") Preview
      th SongName
      th Duration
  tbody
    tr
      td(class="#{classTablePrefix}--non-numeric") image
      td SongName its here!
      td 0:00

      