form(action="", method="post")
  .mdl-textfield.mdl-js-textfield
    input#search-field(type="text", class="mdl-textfield__input")
    label(type="text", class="mdl-textfield__label", for="sample1") Busca tu canción